.buie-container {
    padding-top: 0px;
    width: calc(100% + 40px);
    padding: 0 0 0 20px;
    margin: 0 0 0 -20px;
}

.elements {
    padding-top: 0px;
    width: calc(100% + 40px);
    padding: 0 0 0 20px;
    margin: 0 0 0 -20px;
}

.boxElementsHeader {
    padding-left: 5px;
    padding-top: 5px;
}

.boxElementsCard {
    border: 1px solid #dddbda;
    border-radius: .25rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
    webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
    background-clip: padding-box;
}